body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #4e4e4e;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #771717;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
   color: #ff0000; 
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2789a0;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  
}


#currentHour {
  font-family: "bolder";
  width: 150px; /* Adjust as needed */
  text-align: center;
  display: inline-block;
}


header {
  position: fixed;
  top: 0;
  left: 0;
 
  width: 100%;
  z-index: 1000; /* Ensures the header stays on top */
  background-color: white; /* Ensure the header covers content beneath it */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
  padding: 1rem; /* Adjust as needed */
}

.app-container {
  margin-top: 300px; /* Adjust based on your header's height */
}